@model E_Ticaret.Models.Cart
<link rel="stylesheet" href="~/wwwroot/asd.css" />
<a href="/Cart/Index" class="btn btn-primary">
    Sepete Git
    <span class="cart-count">(@Model.CartLines.Count)</span>
</a>
